//less-watch-compiler less css

@bg-color-main: #191919;
@font-family: Tahoma;
@font-size: 16px;
@font-color: #fff;
@line-height: 1em + 1em;
@primary-color: #721DF4;

body {
    font-size: @font-size;
    color: @font-color;
    font-family: @font-family;
    background-color: @bg-color-main;
}

h1 {
    font-size: 3em;
    background-color: @primary-color;
}

p {
    font-size: 1em;
    line-height: @line-height
}

.btn {
    padding: 10px 15px;
    color: @font-color;
}

.primary-btn:extend(.btn) {
    background-color: @primary-color;
}
